<section class="grid grid-cols-2 gap-4 w-full max-w-screen-lg mx-auto py-12">
  <div>
    <h2 class="text-4xl font-bold mb-4">Beautiful Status Pages</h2>
    <ul class="list-disc text-lg leading-8">
      <li>HTTP/HTTPS Monitoring - Monitor websites, APIs, and web services</li>
      <li>
        Push Monitoring - Monitor services that push heartbeats to Peekaping
      </li>
    </ul>
  </div>

  <div></div>
</section>
